/** RESET */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/** Bases */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/** Header */

header.head {
	width: 100%;
	background: #eef url("logo.svg") no-repeat top left;
}

header.head h1 a {
	text-indent: -100em;
	overflow: hidden;
	display: block;
	height: 125px;
	width: 1000px;
}

header.head h2 {
	width: 800px;
	text-align: center;
	margin-left: 200px;
	font-size: 16pt;
	font-style: italic;
	color: #339;
}

header.head nav {
	background: #ccf;
}

header.head nav ul {
	display: flex;
}

header.head nav li a, header.head nav li b {
	padding: .4em 1em;
	display: inline-block;
	color: #339;
	height: 100%;
	text-decoration: none;
	transition: background .5s, color .2s;
}

header.head nav li a:hover {
	background: #eef;
	color: #933;
}

header.head nav input {
	border: none;
	background: #eef;
	margin: .2em;
	padding: .2em;
	height: 100%;
	font-size: inherit;
	display: inline-block;
	transition: width .5s ease-out;
	width: 100px;
	color: #999;
}

header.head nav input:focus {
	width: 200px;
}

main {
	margin: .8em;
}

footer.foot {
	margin: .8em;
	text-align: center;
	font-size: 90%;
	color: #666;
}

main input {
	padding: .3em;
}

main fieldset {
	border: 1px solid #ccc;
	padding: 1em;
}

main fieldset legend {
	padding: 0 1em;
}

main fieldset dt label {
	font-weight: bold;
	cursor: pointer;
}

main fieldset dd {
	margin: .2em 1em;
}

main fieldset .submit input[type=submit] {
	font-size: 1.2em;
	cursor: pointer;
}

ul.errors li {
	background: #fcc;
	box-shadow: 2px 2px 5px #000;
	margin: 1em;
	padding: 1em;
}

main .account article {
	margin: 2em;
}

.adminList {
	border-collapse: collapse;
	margin: 1em;
}

.adminList td, .adminList th {
	padding: .5em;
}

.adminList tr:nth-child(odd) {
	background: #eee;
}

.adminColumns {
	display: flex;
	width: 100%;
}

.adminColumn {
	width: 40%;
	margin: 5%;
}

section.encheres {
}

section.encheres article {
	background: #eee;
	padding: .5em;
	margin: 1em;
	overflow: auto;
}

section.encheres img {
	float: left;
	margin: .5em;
}

section.encheres a {
	text-decoration: none;
	color: darkblue;
}

section.encheres a h3 {
	font-size: 2em;
}

section.encheres a h4 {
	font-style: italic;
}

section.encheres dl {
	display: flex;
	width: 20em;
	flex-wrap: wrap;
	text-decoration: .9em;
	color: #666;
}

section.encheres dl dt, section.encheres dl dd {
	flex: 50%;
	margin: .5em 0;
}

.enchere {
	display: flex;
	align-items:flex-start;
	align-content:flex-start;
}

.enchere .produit {
	flex: 50%;
	margin: 1em;
}

.enchere .miser, .enchere .mises {
	flex: 30%;
	margin: 1em;
}

.enchere .produit {
	border: 1px solid #ccc;
	overflow: auto;
	background-size: cover, cover;
	padding: .5em;
}


.enchere .produit h2 {
	font-weight: bold;
	font-size: 4em;
	text-shadow: 2px 2px 5px #999;
}

.enchere .produit .image {
	margin: .3em;
	float: right;
	clear: right;
}

.enchere .produit .image img {
	border: 1px solid #999;
	width: 150px;
	transition: border .5s, opacity .5s;
}

.enchere .produit .image img:hover {
	border-color: darkred;
	opacity: 0.8;
}

.enchere .produit dl {
	display: flex;
	flex-wrap: wrap;
}

.enchere .produit dt {
	font-size: .9em;
	flex: 40%;
	text-align: right;
	line-height: 1.8em;
	margin-right: .5em;
}

.enchere .produit dd {
	font-size: 1.2em;
	flex: 50%;
	margin: 0;
}

.enchere .miser form {
	margin-top: 2em;
}

.enchere .miser > h2, .enchere .miser > h3, .enchere .miser > h4, .enchere .mises h2 {
	margin-bottom: 1em;
}

.enchere .mises table {
	border-collapse: collapse;
}

.enchere .mises table tr:nth-child(odd) {
	background: #eee;
}

.enchere .mises table td, .enchere .mises table th {
	padding: .5em;
}